/* GLOBAL STYLES */ 
*  {  box-sizing: border-box;  margin: 0; padding:0;}   
body {  font-family: 'Roboto', sans-serif;    }


/* HEADER STYLES*/
nav{
    display: flex;
    height:80px;
    width:100%;
    background-color:#10314f;
}

nav ul{
    display: flex;
    list-style: none;
    height: 100%;
    flex-grow:1;
}

nav ul li{
    height: 100%;
    width:100%;
}

.imageDiv{
    height:100%;
    padding:10px;
}

nav img{
    height:100%;

}

nav a.menuLink{
    line-height: 80px;
    width:100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color:white;
    text-decoration: none;
    font-size: 40px;
}

nav a.menuLink:hover{
    background-color: #dae1e8;
    color: #10314f;
}

/* MAIN STYLES*/
section{
    display: flex;
    max-height:500px;
    width:100%;
    overflow: hidden;
}

section div{
    flex:1;
}

section p, section h2{
    padding:20px 50px 0px;
}

.catImg img{
    width:100%;
}


.mainBody{
    display: flex;
}

main{
    flex:5;
}

aside{
    flex:1;
    background-color: #dae1e8;
    padding:20px 50px;
}

aside ul{
    margin-top:10px;
    list-style-type: none;
}

aside li{
    margin-bottom:10px;
}

aside a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}


/* FOOTER STYLES */
footer{
    height:auto;
    width:100%;
    background-color:#10314f;
    display: flex;
    padding:0 15%;
}

footer div{
    flex:1;
}

footer ul{
    margin-top:20px;
}

.mapDiv{
    padding:0;
}

.mapDiv a{
    display: block;
    height:100%;
}

.mapDiv img{
    height:100%;
}

footer ul{
    list-style-type: none;
}

footer li{
    margin-bottom:10px;
}

footer a{
    color: white;
    text-decoration: none;
}





/* CONTACT STYLING */
.contactPage{
    max-width:600px;
    margin:auto;
}

.contactPage fieldset{
    padding: 1rem 1rem;
    margin: 1rem 2rem;
    /* border:none; */
    border:1px solid #10314f;
    border-radius: 8px;
    background-color:#dae1e8;
    
}

.contactPage fieldset legend{
    
    font-size:1.5rem;
    padding:0 1rem;
    color:#10314f;
    background-color: #fdfdfd;
    border-radius: 8px;
    border:1px solid #10314f;
}

.contactPage input[type=text], 
.contactPage input[type=email], 
.contactPage input[type=tel], 
.contactPage select, 
.contactPage textarea{
    width:100%;
    height:30px;
    padding-left:20px;
    border-radius: 6px;
    border:1px solid #10314f;
    margin:.5rem 0 1.5rem;
}

.contactPage input[type=text]:focus, 
.contactPage input[type=email]:focus, 
.contactPage input[type=tel]:focus, 
.contactPage select:focus, 
.contactPage textarea:focus{
    background-color: rgb(255, 243, 176);
}

.contactPage input::placeholder, .contactPage textarea::placeholder{
    color:#ccc;
    opacity: 1;
}

.contactPage textarea{
    height:120px;
    padding-top:10px;
}

.contactPage .ageTitle{
    margin-bottom:.5rem;
}

.contactPage input[type=radio]{
    margin-top:.5rem;
}

.contactPage .buttonDiv{
    width:100%;
    display: flex;
    padding: 0 1rem .5rem;
    margin-bottom: .5rem;
}

.contactPage .buttonDiv div{
    display: block;
    width:44%;
    margin:auto;
}

.contactPage .buttonDiv button{
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    height:3rem;
    border:none;
    border-radius: 8px;
}

.contactPage button[type=reset]{
    background-color: #a61111;
    color:white;
}

.contactPage button[type=reset]:hover{
    background-color: #ca1515;
}

.contactPage button[type=submit]{
    background-color: #007f06;
    color:white;
}

.contactPage button[type=submit]:hover{
    background-color: #0dc416;
    
}
/* Pseudo classes: special class types that can be used for special cases */
/* .contactPage fieldset:last-of-type{
    border:none;
} */